.DS_Store
/.venv/
/static/
/media/
/local/
/.vagrant/
/Vagrantfile.local
/docs/_build/
*.pyc
*.pyo
.installed.cfg
bin
.idea/
develop-eggs
# dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
*.log
*.pot
yasha/settings/local.py
static/CACHE/*
.vagrant/*
media/*
.anaconda
*.DS_Store
*.sass-cache
.idea
.coverage

# node
node_modules/
# bower
bower_components/



# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

core/static/css/
core/static/js/
core/templates/svg/



