.banner {
    position: relative;

    @include medium {
        min-height: 65vh;
        // max-height: 630px;
    }
}

.banner-small {
    min-height: 50vh;
}

.banner__text {
    max-width: 25em;
}

.banner-large {
    max-height: auto;

    @include medium {
        .banner__content {
            padding-bottom: 10%;
        }
    }
}

    .banner--inverse {
        background-color: #48413E;
        @extend %font-smoothing;
        color: #fff;

        .banner__content {
            background-color: #48413E;

            @include medium {
                background-color: transparent;
            }
        }

        a {
            color: inherit;
        }

    }

.banner .site-nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.banner__content {
    text-shadow: 0 1px 1px rgba(0,0,0,0.25);

    @include medium {
        position: relative;
        background-color: transparent;
        max-width: 55%;

        &.-wide {
            max-width: 50rem;
        }
    }
}

.banner__image-small {

    @include medium {
        display: none;
    }
}

.banner__image-large {
    display: none;

    @include medium {
        background-position: top right;
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            height: 50%;
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .35));
        }
    }
}

.banner__image-bottom {
    background-position: bottom right;
}

.banner__image-center {
    background-position: center right;
}

.banner--blog {
    background-color: #8A9E6C;

    .banner__content {
        background-color: transparent;
    }
}