.banner {
    position: relative;
    // overflow: hidden;
    background-color: #ddd;
    background-size: cover;
    min-height: 65vh;
    max-height: 630px;
}

.banner-small {
    min-height: 50vh;
}

.banner-medium {
    // height: 0;
    // padding-bottom: 35%;

    .banner__content {
        // padding-top: 10%;
    }
}


.banner__text {
    max-width: 25em;
}

.banner-large {
    max-height: auto;

    @include medium {
        .banner__content {
            padding-bottom: 10%;
        }
    }
}

    .banner--inverse {
        background-color: #48413E;
        @extend %font-smoothing;
        color: #fff;

        .banner__content {
            background-color: #48413E;

            @include medium {
                background-color: transparent;
            }
        }

        a {
            color: inherit;
        }

    }

.banner__background {
    // min-height: 50vh;
    top: 0;
    left: 0;
    right: 0;

    // @include medium {
    //     position: absolute;
    // }


    > img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.banner .site-nav {
    // position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.banner__content {
    // position: relative;
    // top: 0;
    // left: 0;

    @include medium {
        // margin-top: 2em;
        background-color: transparent;
        max-width: 55%;

        &.-wide {
            max-width: 34em;
        }
    }
}

