.metric {
    @extend %sans-serif;
    margin-bottom: .5rem;
    font-weight: 300;
    font-size: 32px;
}

.metric__caption {
    font-size: 14px;
}

.metric__image {
    max-width: 15em;
    margin-left: auto;
    margin-right: auto;
}