%font-large {
    font-size: 24px;
    line-height: 1.4;

    @include large {
        font-size: 32px;
    }
}

blockquote {

}

.quote {
    @extend %serif;
    font-style: italic;
}

.quote-medium {
    > p,
    > .rich-text > p {
        font-size: 22px;
    }
}

.quote-large {
    > p {
        @extend %font-large;
    }
}

.quote-light {
    @extend %font-smoothing;
    color: #615f5b;
    font-weight: 100;
}

%cite {
    opacity: .7;
    &:before {
        display: inline-block;
        content: "–";
        margin-right: .25em;
    }
}

.quote + cite {
    @extend %cite;
}

.home-quote {
    @extend %font-smoothing;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;

    &:first-child {
        margin-top: 7%;
    }

    + cite {
        opacity: 1;
        @extend %cite;
    }
}
