{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}


    <div class="banner banner-medium">
        <div class="banner__background">
            {% image self.banner_image width-1200 %}
        </div>

        <div class="site-nav-dark">
            {% navigation_menu 'top' self %}
        </div>

        <div class="banner__content gutters section">
            {% include "core/includes/crumb.html" %}

            <h1>
                Yasha is a Hebrew word. It means to deliver.
            </h1>
            <p>
                To transfer.  To transport. To transfigure. From death to life. From dark to light. From one realm, from one reality, from one experience…. all the way to another.
            </p>
            <p>
                Another entirely <em>other</em>.
            </p>
        </div>
    </div>

    <div class="about-block">
        <div class="gutters section">
            {% include "core/includes/subnav.html" %}
            {{ self.body|richtext }}
        </div>
    </div>

    <div class="content">
        <div class="gutters section u-center">

        </div>
    </div>
{% endblock %}
