{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}

    <div class="banner banner-medium banner--inverse">

        {% navigation_menu 'top' self %}
        {% include "core/includes/banner_image.html" %}

        <div class="banner__content gutters section">
            {% include "core/includes/crumb.html" %}
            <h1>
                {{ self.headline|safe }}
            </h1>
            <div class="intro">
                {{ self.intro|richtext}}
            </div>
        </div>
    </div>

    <div class="content about-block">
        <div class="gutters section">

            {% include "core/includes/subnav.html" %}

            <div class="prose">
                {{ self.body|richtext }}
            </div>
        </div>
    </div>

{% endblock %}
