{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}

    {% image self.banner_image width-1200 as hero %}
    <div class="banner banner-medium banner--inverse" style="background-image: url({{ hero.url }});">

        {% navigation_menu 'top' self %}

        <div class="banner__content gutters section">
            {% include "core/includes/crumb.html" %}

            <h1>
                {{ self.headline }}
            </h1>
            <div class="intro">
                {{ self.intro|richtext}}
            </div>

        </div>
    </div>

    <div class="content about-block">
        <div class="gutters section">

            {% include "core/includes/subnav.html" %}

            <div class="prose">
                {{ self.body|richtext }}
            </div>
        </div>
    </div>

{% endblock %}
