{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}

    <div class="banner banner-medium banner--inverse">

        {% navigation_menu 'top' self %}
        {% include "core/includes/banner_image.html" %}

        <div class="banner__content gutters section">

            {% include "core/includes/crumb.html" %}

            <h1>{{ self.headline }}</h1>
            <div class="intro">
                {{ self.intro|richtext }}
            </div>
        </div>
    </div>

    <div class="content">
        <div class="gutters section">
            <div class="prose">
                {% if pages|length > 0 %}
                    {% for page in pages %}
                        <a class='blog-post' href="{{ page.url }}" title="">
                            <ul class='nav'>
                                <li  class='small'>
                                    {% include "core/includes/avatar.html" with user=page.owner %}
                                </li>
                                <li  class='small'>
                                    {{ page.date }}
                                </li>
                            </ul>
                            {% if page.banner_image %}
                            <div class="blog-post__image u-space">
                                {%  image page.banner_image fill-640x220-c100 %}
                            </div>
                            {% endif %}
                            <h2 class='u-tight'>{{ page.title }}</h2>
                            <p>
                                {{ page.intro|richtext }}
                            </p>
                            <p>
                                <small>
                                    <span class='btn btn-outline' title="">Read more</span>
                                </small>
                            </p>
                        </a>
                    {% endfor %}

                    {% if pages|length > 2 %}
                    {% include "core/includes/pagination.html" %}
                    {% endif %}

                {% else %}
                    <p>
                        There aren't any blog posts right now
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
