{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}

    {% image self.banner_image width-1200 as hero %}
    <div class="banner banner-medium banner--inverse" style="background-image: url({{ hero.url }});">

        {% navigation_menu 'top' self %}

        <div class="banner__content gutters section-top">
            {% include "core/includes/crumb.html" %}

            <h1>{{ self.title }}</h1>

            <div class='intro u-space-xlarge'>
                {{ self.intro|richtext }}
            </div>

            <ul class='nav '>
                <li  class='small'>
                    {% include "core/includes/avatar.html" with user=self.owner %}
                </li>
                <li  class='small'>
                    {{ self.date }}
                </li>
            </ul>

        </div>
    </div>

    <div class="content">
        <div class="gutters section">



        {{ self.body|richtext }}
        </div>
    </div>
{% endblock %}
