{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}

    <div class="banner banner-small banner--inverse banner--blog">

        {% navigation_menu 'top' self %}
        {#% include "core/includes/banner_image.html" %#}

        <div class="banner__content -wide gutters section">
            {% include "core/includes/crumb.html" %}

            <h1>{{ self.title }}</h1>

            {% if self.headline %}
            <h2>{{ self.headline }}</h2>
            {% endif %}

            <div class='intro'>
                {{ self.intro|richtext }}
            </div>
        </div>
    </div>

    <div class="content">
        <div class="gutters section">
            <div class="grid-float -space">
                <div class="medium-two-thirds">
                    <div class="prose">
                        {% image self.banner_image width-640 as hero %}
                        <div class="blog-post__image u-space">
                            <img src="{{hero.url}}" alt="">
                        </div>

                        {% if self.body %}
                        {{ self.body|richtext }}
                        {% else %}
                            This blog post has no content.
                        {% endif %}
                    </div>
                </div>
                <div class="medium-one-third">
                    <ul class='nav'>
                        <li  class='small'>
                            {% include "core/includes/avatar.html" with user=self.owner %}
                        </li>
                        <li  class='small'>
                            {{ self.date }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
