{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}

    <div class="banner">

        <div class='site-nav-dark'>
        {% navigation_menu 'top' self %}
        </div>

        <div class="banner__content gutters section">
            {% include "core/includes/crumb.html" %}


            <h1>{{ self.title }}</h1>

            <ul class='nav'>
                <li  class='small'>
                    {% include "core/includes/avatar.html" with user=self.owner %}
                </li>
                <li  class='small'>
                    {{ self.date }}
                </li>
            </ul>

            <div class='intro'>
                {{ self.intro|richtext }}
            </div>



        </div>
    </div>

    <div class="content">
        <div class="gutters section">
        {{ self.body|richtext }}
        </div>
    </div>
{% endblock %}
