{% extends "base.html" %}
{% load wagtailcore_tags core_tags %}
{% load wagtailimages_tags %}

{% block body_class %}template-{{ self.get_verbose_name|slugify }}{% endblock %}
{% block menu %}{% endblock %}

{% block content %}

    <div class="banner banner--inverse banner-large">

        {% navigation_menu 'top' self %}
        {% include "core/includes/banner_image.html" %}

        <div class="banner__content gutters section">
            <h1>
                {{ self.headline|safe }}
            </h1>
            <p class='intro banner__text'>
                {{ self.intro }}
            </p>
            <a class='btn btn-primary' href="/about/">
                {{ self.intro_button_label }}
            </a>
        </div>
    </div>

    <div class="content">
        <div class="gutters section u-center">
            <h3>{{ self.statistics_headline }}</h3>
            {% if self.statistics_body %}
            <p>{{ self.statistics_body }}</p>
            {% endif %}

            <div class="grid-float">

            {% for stat in self.statistics.all %}
                <div class="medium-one-third">
                    {% image stat.image width-400 %}
                    <h2 class='metric'>{{ stat.statistic}}</h2>
                    <p class='metric__caption'>{{ stat.caption}}</p>
                </div>
            {% endfor %}

            </div>
        </div>
        <div class="grid-float panel-highlight gutters section">
            <div class="medium-two-fifths large-one-half">
                <div class="img-responsive">
                    {% image self.quote_image width-400 %}
                </div>
            </div>
            <div class="medium-three-fifths large-one-half">
                <h3 class='home-quote'>
                    <em>
                        “{{ self.quote }}”
                    </em>
                </h3>

                <cite>{{ self.citation }}</cite>
                </div>
            </div>
        </div>
        <div class='section panel gutters'>
            <h2 class='u-center u-space-large'>What we do</h2>
            <div class=" u-auto">
                <div class="grid-float u-space-large">
                {% for section in self.sections.all %}
                    <div class='u-left'>
                        <div class="grid-float">
                            <div class="medium-one-third">
                                <p class="img-responsive">
                                    {% image section.image width-400 %}
                                </p>
                            </div>
                            <div class="medium-two-thirds">
                                <h3>
                                    {{ section.title }}
                                </h3>
                                {{ section.body|richtext }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
                <p class="u-center">
                    <a href="/about/what-we-do/" title="" class='btn btn-outline icon-text -tiny'>
                        More about what we do
                        <svg class='i'>
                            <use xlink:href="#caret-r" />
                        </svg>
                    </a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
