<div class="footer section">
    <div class="gutters">
        <h4>Yasha</h4>
        <ul class='nav'>
            <li class='small'>
                Yasha Ministries, P O Box 943, White River, South Africa, 1240
            </li>
            <li class='small'>
                <a href="tel:+27 83 791 9044" title="" class="footer-link">+27 83 791 9044</a>
            </li>
            <li class='small'>
                <a href="/contact/" title="" class="footer-link">Full contact info</a>
            </li>
        </ul>
        <hr>

        <h4>Get involved</h4>
        <p>
            We’ll keep you updated with our latest news and ways you can help.
        </p>

        <form action="//yasha.us11.list-manage.com/subscribe/post?u=550cd030db4318a3a0f30bde0&amp;id=c4e0e22668" method="post" id="mc-embedded-subscribe-form" method="post" class="form-inline">
            <input name="EMAIL" class='input-inline' placeholder="your@email.com" type="email">
            <button value="Subscribe" name="subscribe" class='btn btn-small btn-primary input-inline__button'>
                Sign up
            </button>
        </form>

        <hr>
        <p class='u-tight'>
            <span class="icon"><svg><use xlink:href="#facebook" /></svg></span>
            <small>
                Yasha is partnered with <a class='footer-link' href="//www.globalvolunteernetwork.org/" target="_blank">GVN</a> in the USA.
            </small>
        </p>
        <p>
            <small>
                © 2015 Yasha Ministries,
            </small>
            <small>
                site by <a class='footer-link' href="//joshbarr.com" title="">Josh Barr</a>.
            </small>
        </p>
    </div>
</div>