{% load wagtailcore_tags %}

<div class="footer section">
    <div class="gutters">
        <h4>{{ footer.title|default:'Yasha' }}</h4>
        <ul class='nav'>
            <li class='small'>
                {{ footer.address|default:'Address details go here' }}
            </li>
            <li class='small'>
                <a href="tel:{{ footer.phone_number }}" title="" class="footer-link">
                    {{ footer.phone_number|default:'+00 000 00000' }}
                </a>
            </li>
            <li class='small'>
                <a href="{{ footer.contact_link.url|default:'/contact/' }} " title="" class="footer-link">  Full contact info
                </a>
            </li>
        </ul>
        <hr>

        <h4>{{ footer.signup_title|default:'Get involved'}}</h4>
        <p>
            {{ footer.signup_text|default:'Get involved'}}
        </p>

        <form action="//yasha.us11.list-manage.com/subscribe/post?u=550cd030db4318a3a0f30bde0&amp;id=c4e0e22668" method="post" id="mc-embedded-subscribe-form" method="post" class="form-inline">
            <input name="EMAIL" class='input-inline' placeholder="your@email.com" type="email">
            <button value="Subscribe" name="subscribe" class='btn btn-small btn-primary input-inline__button'>
                Sign up
            </button>
        </form>

        <hr>

        {% if footer.partner_text %}
        <div class='u-tight footer-link-container tiny'>
            {{  footer.partner_text|richtext }}
        </div>
        {% endif %}

        <p>
            <small>
                © {% now "Y" %} Yasha Ministries,
            </small>
            <small>
                site by <a class='footer-link' href="//joshbarr.com" title="">Josh Barr</a>.
            </small>
        </p>
    </div>
</div>