{% load wagtailcore_tags %}

<div class="site-nav grid-float gutters u-relative">
    <div class="one-third">
        <a href="/" class='logo'>
            <svg>
                <use xlink:href='#logo' />
            </svg>
            <span class='u-accessible'>
                Yasha
            </span>
        </a>
    </div>
    <div class="two-thirds clearfix">
        <div class='u-hide-medium u-text-right site-nav__items '>
            <a href="#menu" class='btn btn-donate u-hide-medium' title="">
                Menu
            </a>
        </div>

        <ul class='u-right u-hide-small nav nav--wide site-nav__items'>
        {% include "core/includes/menu_items.html" %}
        </ul>
    </div>
</div>

