// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------


%serif {
    font-family: $font-family-serif;
}

%sans-serif {
    font-family: $font-family-sans-serif;
}


%font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

%font-smoothing-off {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}


%body-type-size {
    font-size: rem($font-size-base - 1);

    @include medium {
        font-size: rem($font-size-base);
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: $line-height-headline;

    &:first-child {
        margin-top: 0;
    }

    > a {
        text-decoration: none;
        font-weight: inherit;
    }
}

h1 {
    font-size: rem(24);

    @include medium {
        font-size: rem(32);
    }
}

h2 {
    margin-bottom: 2.5rem;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}


.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }


p,
ul,
ol,
dl,
address {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

p,
li,
label,
td,
th,
input,
textarea,
button,
select {
    @extend %body-type-size;
}

.prose {
    max-width: 40em;
}

.longer {
    max-width: 50em;
}


.intro,
.intro p {
    font-size: 1.125rem;

}

// small,
.small,
.small > .rich-text > p {
    font-size: 14px;
    // li, p {
    //     font-size: 13px;
    // }
}

.tiny,
.tiny > .rich-text > p {
    font-size: 13px;
    margin-bottom: .25rem;
}


