// =============================================================================
// Scss Starter Project
// =============================================================================

// Core variables, mixins and functions
@import 'variables';
@import 'components/functions';
@import 'breakpoints';


body {
    font-family: "proxima-nova";
    color: #222;
}


h1, h2, h3 {
    font-family: "ff-karbid-slab-web-pro";
    font-weight: 400;
}


a {
    color: #2db89b;
    text-decoration: none;
}




// Base imports
@import '../../../node_modules/normalize.css/normalize';
@import 'elements';
@import 'typography';

// Layout styles
@import 'components/grid';

// Components
@import 'components/buttons';
@import 'components/icons';
@import 'components/icon-text';
@import 'components/tags';
@import 'components/modals';
@import 'components/radio-picker';
@import 'components/scrollable';


// Page-specific
// @import 'pages/home';


// Widths should come near the end, so they're more specific
@import 'components/widths';

// Utility classes
@import 'utilities';








