// =============================================================================
// Scss Starter Project
// =============================================================================

// Core variables, mixins and functions
@import 'variables';
@import 'components/functions';
@import 'breakpoints';

// Base imports
@import '../../../node_modules/normalize.css/normalize';
@import 'elements';


.wrapper {
    background-color: #fff;
}

.section {
    padding-top: 2em;
    padding-bottom: 2em;

    @include medium {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}

.section-top {
    padding-top: 2em;

    @include medium {
        padding-top: 4em;
    }
}

.section-bottom {
    padding-bottom: 2em;

    @include medium {
        padding-bottom: 4em;
    }
}


.logo {
    width: 6em;
    height: 2em;
    display: inline-block;
    color: #fff;

    @include medium {
        width: 8em;
        height: 3em;
    }

    > svg {
        width: 100%;
        height: 100%;
    }
}

.site-nav {
    padding-top: 1em;
    padding-bottom: .5em;
    color: #fff;
    // background-color: #D0803A;
    background-color: #D0712B;

    a {
        color: #fff;
    }

    @include medium {
        background-color: transparent;
        padding-top: 1.5em;
        padding-bottom: 0;
    }
}

.site-nav-dark {
    color: #56524C;
    a {
        color: #56524C;
    }
}

.site-nav-solid {
    background-color: #56524C;
}

.site-nav__items {
    @include medium {
        padding-top: .5em;
    }
}

.site-nav-mobile {
    position: relative;
    background-color: #333;
    padding-top: 2em;
    padding-bottom: 2em;

    ul {
        list-style: none;
    }

    li {
        margin-bottom: .5em;
        font-size: 1.125rem;
        border-bottom: solid 1px rgba(255,255,255,0.1);
        padding-top: .25em;
        padding-bottom: .5em;

        &:last-child {
            border-bottom-width: 0;
        }

        a {
            color: #fff;
            display: block;

        }
    }
}

.site-nav-mobile__close {
    position: absolute;
    display: block;
    right: 7%;
    top: 1rem;
    font-size: 2em;
    color: #888;
    line-height: 1;

    &:before {
        content: '×';
    }
}

@import 'typography';

// Layout styles
@import 'components/grid';

// Components
@import 'components/buttons';
@import 'components/icons';
@import 'components/forms';
@import 'components/icon-text';
@import 'components/tags';
@import 'components/modals';
@import 'components/radio-picker';
@import 'components/scrollable';
@import 'components/media';
@import 'components/banner';
@import 'components/panels';
@import 'components/footer';
@import 'components/quotes';
@import 'components/metrics';


.list-none {
    padding-left: 0;
    list-style: none;
}

.breadcrumb {
    > li {
        margin-right: .4em;
    }
}

    .breadcrumb__icon {
        width: .75em;
        height: .75em;
        margin-left: .5em;
        margin-top: -.2em;
        color: inherit;
        opacity: .7;
    }



.blog-post {
    display: block;
    border-bottom: solid 1px #eee;
    margin-bottom: 2rem;
    color: inherit;
    padding-bottom: .5em;
    padding-top: .5em;
}

.blog-post__image {
    border: solid 1px rgba(0,0,0,0.1);

    > img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.avatar {
    width: 2em;
    height: 2em;
    background-color: #eee;
    border-radius: 50em;
    display: inline-block;
    vertical-align: middle;
    margin-right: .5em;
    overflow: hidden;

    > img {
        display: block;
        width: 100%;
        height: auto;
    }
}


.pagination__active {
    color: inherit;
}

.img-responsive {
    > img {
        display: block;
        width: 100%;
        height: auto;
    }
}

// Page-specific
// @import 'pages/home';

// Widths should come near the end, so they're more specific
@import 'components/widths';

// Utility classes
@import 'utilities';

