// =============================================================================
// Scss Starter Project
// =============================================================================

// Core variables, mixins and functions
@import 'variables';
@import 'components/functions';
@import 'breakpoints';






// Base imports
@import '../../../node_modules/normalize.css/normalize';
@import 'elements';


.wrapper {
    background-color: #fff;
}

.section {
    padding-top: 4em;
    padding-bottom: 4em;
}



@import 'typography';

// Layout styles
@import 'components/grid';

// Components
@import 'components/buttons';
@import 'components/icons';
@import 'components/icon-text';
@import 'components/tags';
@import 'components/modals';
@import 'components/radio-picker';
@import 'components/scrollable';


// Page-specific
// @import 'pages/home';


// Widths should come near the end, so they're more specific
@import 'components/widths';

// Utility classes
@import 'utilities';








